<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Overview</a></li>
    <li><a ng-href="https://github.com/tilmanpotthof/angular-stPagination">github</a></li>
  </ul>
  <h3 class="text-muted">angular pagination</h3>
</div>

<div class="jumbotron">
  <h1>angular Pagination</h1>
  <p class="lead">
    Client-side and modular pagination for angular.
  </p>
</div>

<div class="row marketing">
  <h4>Complete pagination logic</h4>
  <p>
    Just use the <code>pagination</code> filter with an array and the logic is handled by the library.
    It is as simple as this example: <code>user for users | pagination</code>.
  </p>
  <h4>Fixed number of elements</h4>
  <p>
    The number of elements never changes and prevents the pagination to break the line for any number of elements.
  </p>
</div>
<hr/>

<div ng-controller="demoController" class="row">
  <h2>Demo - AngularJS Commit History</h2>
  <p>
    As example collection we use a list of git commits from the angular repository with
    {{ commits.length }} (<code>commits.length</code>).
  </p>


  <div class="well">
    <h4>Commits</h4>

    <div class="input-group input-group-sm col-sm-6">
        <span class="input-group-addon ">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      <input type="text" ng-model="commentFilter" class="form-control">
    </div>
    <p>
    <ul class="list-unstyled commits">
      <li ng-hide="commits">Loading commits...</li>
      <li ng-repeat="commit in commits | filter:{comment:commentFilter} | pagination:commits">
        <code>{{ commit.hash }}</code>
        <span style="text-wrap: none">{{ commit.comment }}</span>
      </li>
    </ul>
    </p>
    <pagination collection="commits"></pagination>
    <div>
      Commits {{ commits | pageInfo:'startIndex' }} - {{ commits | pageInfo:'stopIndex' }}
      |
      Total {{ (commits | filter:{comment:commentFilter}).length  }}
      |
      Commits per page
      <pagination-limit collection="commits" limits="[5,10,20,50,100]"></pagination-limit>
    </div>

  </div>
  <hr/>

  <h2>Usage</h2>
  <p>
    The module name is <code>stPagination</code>.
    Only dependencies are
    <span class="label label-info">angular 1.2+</span> and <span class="label label-info">bootstrap 3+</span> (just the css).
    Support for bootstrap 2.3 and zurb foundation are planned for future versions.
  </p>

  <h3>Pagination filter</h3>
  <p>
    To initialize the pagination you can use the <code>pagination</code> filter that handles
    the filtering, correct calculation of offsets and pages.
  </p>
  <p>
    <code>commit in commits | pagination</code>
  </p>
  <p>
    The filter attaches a pagination object to the collection which can be used by the directives.
  </p>

  <h5>Usage with other filters</h5>
  If you want to apply other filters to you collection before the pagination filter,
  you have to pass the collection to the filter.
  Otherwise the pagination object can not be attached correctly.
  </p>
  <p>
    <code>commit in commits | filter:{comment:commentFilter} | pagination:commits</code>
  </p>


  <h3>Pagination directive</h3>
  <p>
    A collection with a attached pagination object can be used with the pagination directive.
  </p>
  <p>
    <code>
      &lt;pagination collection="commits"&gt;&lt;/pagination&gt;
    </code>
  </p>
  <pagination collection="commits"></pagination>

  <h3>Limit directive</h3>
  <p>
    The limit directive changes the number of items per page. The limit options can be configure,
  </p>
  <p>
    <code>
      &lt;pagination-limit collection="commits" limits="[5,10,20,50,100]"&gt&lt;/pagination-limit&gt
    </code>
  </p>
  <p>
    Limit:
    <pagination-limit collection="commits" limits="[5,10,20,50,100]"></pagination-limit>
  </p>

  <h3>Pagination info</h3>
  <p>
    Information about the pagination can be displayed with the <code>pageInfo</code> filter.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
        <th>Usage example</th>
      </tr>
    </thead>
    <tr ng-repeat="property in displayProperties">
      <td>
        {{ property }}
      </td>
      <td>
        <span class="badge label-primary">{{ commits | pageInfo:property }}</span>
      </td>
      <td>
        <code>{{ propertyTemplate(property) }}</code>
      </td>
    </tr>
  </table>
  <hr/>
</div>
<div class="footer">
  <p></p>
</div>
