<div class="header">
  <ul class="nav nav-pills pull-right inline-list">
    <li class="active"><a ng-href="#">Overview</a></li>
    <li><a ng-href="docs/#/api/stPagination">API</a></li>
    <li><a ng-href="https://github.com/tilmanpotthof/angular-st-pagination/releases/latest">Download</a></li>
    <li><a ng-href="https://github.com/tilmanpotthof/angular-st-pagination">github</a></li>
  </ul>
  <h3 class="text-muted">angular-st-pagination</h3>
</div>

<div class="jumbotron">
  <h1>angular-st-pagination</h1>
  <p class="lead">
    Client-side and modular pagination for angular.
  </p>
</div>

<div class="row marketing">
  <h4>Complete pagination logic</h4>
  <p>
    Just use the <code>stPagination</code> filter with an array and the logic is handled by the library.
    It is as simple as this example: <code>user for users | stPagination</code>.
  </p>
  <h4>Fixed number of elements</h4>
  <p>
    The number of page links never changes and prevents the pagination to cause line breaks.
  </p>
  <h4>Configurable for CSS frameworks</h4>
  <p>
    Configure the html structure of the pagination directive to use it with the popular CSS frameworks<br/>
    <strong>Bootstrap</strong> and <strong>Zurb Foundation</strong>.
  </p>
</div>
<hr/>

<div ng-controller="demoBaseController">
<div ng-controller="demoController" class="row">
  <h2>Demo - AngularJS Commit History</h2>
  <p>
    As example collection we use a list of git commits from the angular repository with
    {{ commits.length }} (<code>commits.length</code>).
  </p>

  <div class="well">
    <h4>Commits</h4>

    <div class="input-group input-group-sm col-sm-6 ui input">
        <span class="input-group-addon ">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      <input type="text" ng-model="commentFilter" class="form-control">
    </div>
    <p>
    <ul class="list-unstyled commits">
      <li ng-hide="commits">Loading commits...</li>
      <li ng-repeat="commit in commits | filter:{comment:commentFilter} | stPagination:commits">
        <code>{{ commit.hash }}</code>
        <span style="text-wrap: none">{{ commit.comment }}</span>
      </li>
    </ul>
    </p>
    <div ng-include="'paginationWrapper.html'" ng-if="styleResetToggle"></div>
    <div>
      Commits {{ commits | stPageInfo:'startIndex' }} - {{ commits | stPageInfo:'stopIndex' }}
      |
      Total {{ commits | stPageInfo:'total' }}
      |
      Commits per page
      <st-pagination-limit collection="commits" limits="[5,10,20,50,100]"></st-pagination-limit>
    </div>

  </div>
  <hr/>

  <h2>Usage</h2>
  <p>
    Add the module <code>stPagination</code> to your angular app.
    The only dependency is <span class="label label-info">angular 1.0+</span>.<br/>
    The compatibility it tested for all stable minor releases
    <span class="label label-default">1.0.x</span> ,
    <span class="label label-default">1.2.x</span> and
    <span class="label label-default">1.3.x</span>
    .
  </p>

  <h3>Pagination filter</h3>
  <p>
    To initialize the pagination you can use the <code>stPagination</code> filter that handles
    the filtering, correct calculation of offsets and pages.
  </p>
  <p>
    <code>commit in commits | stPagination</code>
  </p>
  <p>
    The filter attaches a pagination object to the collection which can be used by the directives.
  </p>

  <h5>Usage with other filters</h5>
  If you want to apply other filters to you collection before the pagination filter,
  you have to pass the collection to the filter.
  Otherwise the pagination object can not be attached correctly.
  </p>
  <p>
    <code>commit in commits | filter:{comment:commentFilter} | stPagination:commits</code>
  </p>

  <h3>Serverside pagination</h3>

  <div ng-controller="serverPaginationController">
  <pre>{{serverCommits|json}}</pre>
    <ul class="list-unstyled commits">
      <li ng-show="!serverCommits">Loading commits...</li>

      <li ng-repeat="commit in serverCommits | serverPagination:paginationConfig">
        <code>{{ commit.hash }}</code>
        <span style="text-wrap: none">{{ commit.comment }}</span>
      </li>
    </ul>
    <st-pagination collection="serverCommits"></st-pagination>
    <div>
      Commits {{ serverCommits | pageInfo:'startIndex' }} - {{ serverCommits | pageInfo:'stopIndex' }}
      |
      Total {{ serverCommits | pageInfo:'total' }}
      |
      Commits per page
      <st-pagination-limit collection="serverCommits" limits="[5,10,20,50,100]"></st-pagination-limit>
    </div>

  </div>

<pre><code>paginationService(
  url: "/commits/:start/:end",

})</code></pre>
<pre><code>{
  total: 4444,
  from: 0,
  until: 10
  items: ["Zero", "One, "Two, "Three, "Four", "Five", "Six", "Seven", "Eight", "Nine"]
}</code></pre>

  <!-- pagination-directive --->
  <h3>Pagination directive</h3>
  <p>
    A collection with a attached pagination object can be used with the pagination directive.
  </p>
  <p>
    <code>
      &lt;st-pagination collection="commits"&gt;&lt;/st-pagination&gt;
    </code>
  </p>
  <div ng-include="'paginationWrapper.html'" ng-if="styleResetToggle"></div>

  <h4>Configure displayed ranges</h4>
  <p>
    The automatic folding of indices can be configured.
    The length of the displayed index ranges are set with the attributes <code>mid-range</code> and <code>edge-range</code>.
    If the ranges overlap they are summed up to keep a fixed length.
    Therefore you click on the '...' to see the behavior with index folding
  </p>
  <p>
    <code>
      &lt;st-pagination collection="commits" mid-range="{{midRange}}" edge-range="{{edgeRange}}"&gt;&lt;/st-pagination&gt;
    </code>
  </p>
  <p ng-init="midRange = 2">
    <select ng-options="r for r in [1,2,3,4,5]" ng-model="midRange"></select>
    midRange - range before and after current index
  </p>
  <p ng-init="edgeRange = 2">
    <select ng-options="r for r in [1,2,3,4,5]" ng-model="edgeRange"></select>
    edgeRange - range at the start and end of all indices
  </p>
  <div ng-include="'paginationWrapper.html'" ng-if="styleResetToggle"></div>

  <h3>Limit directive</h3>
  <p>
    The limit directive changes the number of items per page. The limit options can be configure,
  </p>
  <p>
    <code>
      &lt;st-pagination-limit collection="commits" limits="[5,10,20,50,100]"&gt&lt;/st-pagination-limit&gt
    </code>
  </p>
  <p>
    <st-pagination-limit collection="commits" limits="[5,10,20,50,100]"></st-pagination-limit>
  </p>

  <h3>Pagination info</h3>
  <p>
    Information about the pagination can be displayed with the <code>stPageInfo</code> filter.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
        <th>Usage example</th>
      </tr>
    </thead>
    <tr ng-repeat="property in displayProperties">
      <td>
        {{ property }}
      </td>
      <td>
        <span class="badge label-primary">{{ commits | stPageInfo:property }}</span>
      </td>
      <td>
        <code>{{ propertyTemplate(property) }}</code>
      </td>
    </tr>
  </table>
  <hr/>
  <h3>Template configuration</h3>
  <div ng-controller="templateConfigController">
    <select ng-model="templateConfig" ng-options="templateConfig.label for templateConfig in templateConfigs"></select>

    <div ng-include="'paginationWrapper.html'" ng-if="styleResetToggle"></div>

    <p>
      <pre><code>angular.module('myModule', ['stPagination'])
    .config(function (stPaginationProvider) {
        stPaginationProvider.setTemplateConfig({templateKey: '{{templateConfig.templateKey}}' });
    })</code></pre>
    </p>

    <p>
      <h4>Generated HTML</h4>
      <pre><code>{{ generatedHtml }}</code></pre>
    </p>
  </div>
</div>
<div class="footer">
  <p></p>
</div>
</div>
