<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Overview</a></li>
    <li><a ng-href="https://github.com/tilmanpotthof/angular-stPagination">github</a></li>
  </ul>
  <h3 class="text-muted">angular pagination</h3>
</div>

<div class="jumbotron">
  <h1>angular Pagination</h1>
  <p class="lead">
    Client-side and modular pagination for angular.
  </p>
</div>

<div class="row marketing">
  <h4>Complete pagination logic</h4>
  <p>
    Just use the <code>pagination</code> filter with an array and the logic is handled by the library.
    It is as simple as this example: <code>user for users | pagination</code>.
  </p>
  <h4>Fixed number of elements</h4>
  <p>
    The number of elements never changes and prevents the pagination to break the line for any number of elements.
  </p>
</div>
<hr/>
<div>
  <h3>Demo</h3>
  <hr/>

  <div ng-controller="demoController">
    <h4>AngularJS Commit History</h4>

    <div>On page {{ commits.pagination.displayPage() }}</div>
    <div>{{ commits.pagination.length() }} commits on {{ commits.pagination.totalPages() }} pages.</div>

    <div>
      Limit:
      <pagination-limit collection="commits" limits="[5,10,20,50,100]"></pagination-limit>
    </div>

    <ul class="pagination">
      <li ng-class="{disabled: commits.pagination.onFirstPage()}">
        <a ng-click="commits.pagination.prev()">&laquo;</a>
      </li>
      <li ng-class="{active: commits.pagination.onPage(index)}" ng-repeat="index in commits.pagination.reducedIndices()">
        <a ng-click="commits.pagination.setPage(index)">
          {{ index | displayPaginationIndex }}
        </a>
      </li>
      <li ng-class="{disabled: commits.pagination.onLastPage()}">
        <a ng-click="commits.pagination.next()">&raquo;</a>
      </li>
    </ul>

    <div>
      Comment filter: <input type="text" ng-model="commentFilter" class="input"/>
    </div>

    <ul class="list-unstyled">
      <li ng-hide="commits">Loading commits...</li>
      <li ng-repeat="commit in commits | filter:{comment: commentFilter} | pagination:commits">
        <code>{{ commit.hash }}</code>
        {{ commit.comment }}
      </li>
    </ul>

    <hr>
    <h4>Api</h4>
    <ul class="list-unstyled">
      <li ng-repeat="functionName in functionNames">
        <kbd>{{ functionName }}()</kbd> : {{ getResult(functionName, commits.pagination) }}
      </li>
    </ul>
  </div>
</div>
<div class="footer">
  <p></p>
</div>
