<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angular pagination</h3>
</div>

<div class="jumbotron">
  <h1>angularPagination</h1>
  <p class="lead">
    Awesome and modular pagination for angular.
  </p>
</div>

<div class="row marketing">
  <h4>Pagination for any collections</h4>
  <p>

  </p>
</div>

<div>
  <div ng-controller="demoController">
    <h4>AngularJS Commit History</h4>

    <div>On page {{ commits.pagination.displayPage() }}</div>
    <div>{{ commits.pagination.length() }} commits on {{ commits.pagination.totalPages() }} pages.</div>

    <div>
      Limit:
      <select ng-options="limit for limit in [10,20,50]" ng-model="commits.pagination.$limit"></select>
    </div>

    <ul class="pagination">
      <li ng-class="{disabled: commits.pagination.onFirstPage()}">
        <a ng-click="commits.pagination.prev()">&laquo;</a>
      </li>
      <li ng-class="{disabled: commits.pagination.onLastPage()}">
        <a ng-click="commits.pagination.next()">&raquo;</a>
      </li>
    </ul>

    <div>
      Comment filter: <input type="text" ng-model="commentFilter" class="input"/>
    </div>

    <ul class="list-unstyled">
      <li ng-hide="commits">Loading commits...</li>
      <li ng-repeat="commit in commits | filter:{comment: commentFilter} | pagination:commits">
        <code>{{ commit.hash }}</code>
        {{ commit.comment }}
      </li>
    </ul>

  </div>
</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
